<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>实训管理平台</title>
    <link rel="stylesheet" href="/vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="/vendor/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
</head>
<body class="sidebar-fixed header-fixed">
<div class="page-wrapper">
    <nav class="navbar page-header" style="margin-top: 0">
        <a href="#" class="btn btn-link sidebar-mobile-toggle d-md-none mr-auto">
            <i class="fa fa-bars"></i>
        </a>

        <a class="navbar-brand" href="#" style="padding: 0">
            <img src="https://www.whu.edu.cn/ch_template/img/logo.png" width="122" height="38" alt="logo">
        </a>

        <a href="#" class="btn btn-link sidebar-toggle d-md-down-none">
            <i class="fa fa-bars"></i>
        </a>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item d-md-down-none">
                <a href="#">
                    <i class="fa fa-bell"></i>
                    <span class="badge badge-pill badge-danger"></span>
                </a>
            </li>

            <li class="nav-item d-md-down-none">
                <a href="#">
                    <i class="fa fa-envelope-open"></i>
                    <span class="badge badge-pill badge-danger"></span>
                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img src="/imgs/avatar-1.png" class="avatar avatar-sm" alt="logo">
                    <span class="small ml-1 d-md-down-none"><label th:text="${session.adm.admin_username}"></label></span>
                </a>

                <div class="dropdown-menu dropdown-menu-right">

                    <a href="#" class="dropdown-item">
                        <i class="fa fa-wrench"></i> 设置
                    </a>

                    <a href="#" class="dropdown-item">
                        <i class="fa fa-lock"></i> 退出
                    </a>
                </div>
            </li>
        </ul>
    </nav>

    <div class="main-container">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-title">导航</li>

                    <li class="nav-item">
                        <a href="/stu/homepage" class="nav-link">
                            <i class="icon icon-speedometer"></i> 首页
                        </a>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-energy"></i> 学生信息管理 <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="/stu/student_info" class="nav-link">
                                    <i class="icon icon-grid"></i> 学生信息表
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/stu/student_add" class="nav-link">
                                    <i class="icon icon-grid"></i> 增加学生信息
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-energy"></i> 项目信息管理 <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="/proj/project_info" class="nav-link">
                                    <i class="icon icon-grid"></i> 项目信息表
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/proj/project_add" class="nav-link">
                                    <i class="icon icon-grid"></i> 增加项目信息
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-energy"></i> 小组信息管理 <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="/team/team_info" class="nav-link active">
                                    <i class="icon icon-grid"></i> 小组信息表
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/team/team_add" class="nav-link">
                                    <i class="icon icon-grid"></i> 增加小组信息
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-energy"></i> 日志/周志管理 <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="/rep/report_info" class="nav-link">
                                    <i class="icon icon-grid"></i> 日志/周志信息表
                                </a>
                            </li>

                        </ul>
                    </li>
                    
                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-energy"></i> 管理员信息管理 <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="/adm/admin_info" class="nav-link">
                                    <i class="icon icon-grid"></i> 管理员信息表
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/adm/admin_add" class="nav-link">
                                    <i class="icon icon-grid"></i> 增加管理员信息
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/adm/admin_password" class="nav-link">
                                    <i class="icon icon-grid"></i> 修改我的密码
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/adm/admin_logindata" class="nav-link">
                                    <i class="icon icon-grid"></i> 登录日志
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-title">More</li>

                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-umbrella"></i> Pages <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="blank" class="nav-link">
                                    <i class="icon icon-umbrella"></i> Blank Page
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="login" class="nav-link">
                                    <i class="icon icon-umbrella"></i> Login
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="logout" class="nav-link">
                                    <i class="icon icon-umbrella"></i> Logout
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="404" class="nav-link">
                                    <i class="icon icon-umbrella"></i> 404
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="500" class="nav-link">
                                    <i class="icon icon-umbrella"></i> 500
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="settings" class="nav-link">
                                    <i class="icon icon-umbrella"></i> Settings
                                </a>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="content">
            <div class="panel panel-info" style="margin-left: 20%;margin-right: 20%">
                <div class="panel-heading">
                    修改小组团队信息
                </div>
                <div class="panel-body">
                    <form action="/team/update" method="post" class="form-horizontal">
                        <div class="form-group">
                            <label class="col-sm-4 control-label">团队编号：</label>
                            <div class="col-sm-5">
                                <input type="number" name="team_id" th:value="${team.team_id}" class="form-control" readonly><br/></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">团队名称：</label>
                            <div class="col-sm-5">
                                <input type="text" name="team_name" th:value="${team.team_name}" class="form-control"><br/></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">团队项目：</label>
                            <div class="col-sm-5">
                                <input type="text" name="team_project" th:value="${team.team_project}" class="form-control"><br/></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">组长：</label>
                            <div class="col-sm-5">
                                <input type="text" name="team_leader" th:value="${team.team_leader}" class="form-control"><br/></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">组员：</label>
                            <div class="col-sm-5">
                                <input type="text" name="team_mate" th:value="${team.team_mate}" class="form-control"><br/></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">团队介绍：</label>
                            <div class="col-sm-5">
                                <input type="text" name="team_intro" th:value="${team.team_intro}" class="form-control"><br/></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">项目进度%：</label>
                            <div class="col-sm-5">
                                <input type="number" name="team_progress" th:value="${team.team_progress}" class="form-control"><br/></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">成绩1：</label>
                            <div class="col-sm-5">
                                <input type="number" name="team_grade1" th:value="${team.team_grade1}" class="form-control"><br/></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">成绩2：</label>
                            <div class="col-sm-5">
                                <input type="number" name="team_grade2" th:value="${team.team_grade2}" class="form-control"><br/></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">成绩3：</label>
                            <div class="col-sm-5">
                                <input type="number" name="team_grade3" th:value="${team.team_grade3}" class="form-control"><br/></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">总成绩：</label>
                            <div class="col-sm-5">
                                <input type="number" name="team_grade" th:value="${team.team_grade}" class="form-control"><br/></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">小组成员学号：</label>
                            <div class="col-sm-5">
                                <input type="text" name="team_member_id" th:value="${team.team_member_id}" class="form-control"><br/></div>
                        </div>


                        <div class="form-group">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-5">
                                <input type="submit" value="修改团队" class="btn btn-info">
                            </div>
                        </div>
                    </form>
                </div>
            </div>





        </div>
    </div>
</div>
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/popper.js/popper.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/vendor/chart.js/chart.min.js"></script>
<script src="/js/carbon.js"></script>
<script src="/js/demo.js"></script>
</body>
</html>
