<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>实训管理平台</title>
    <link rel="stylesheet" href="/vendor/simple-line-icons/css/simple-line-icons.css">
    <link rel="stylesheet" href="/vendor/font-awesome/css/fontawesome-all.min.css">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="/bootstrap/css/bootstrap.css" rel="stylesheet" type="text/css"/>
    <script src="/vendor/jquery/jquery.js"></script>
</head>
<body class="sidebar-fixed header-fixed">
<div class="page-wrapper">
    <nav class="navbar page-header" style="margin-top: 0">
        <a href="#" class="btn btn-link sidebar-mobile-toggle d-md-none mr-auto">
            <i class="fa fa-bars"></i>
        </a>

        <a class="navbar-brand" href="#"  style="padding: 0">
            <img src="https://www.whu.edu.cn/ch_template/img/logo.png" width="122" height="38" alt="logo">
        </a>

        <a href="#" class="btn btn-link sidebar-toggle d-md-down-none">
            <i class="fa fa-bars"></i>
        </a>

        <ul class="navbar-nav ml-auto">
            <li class="nav-item d-md-down-none">
                <a href="#">
                    <i class="fa fa-bell"></i>
                    <span class="badge badge-pill badge-danger"></span>
                </a>
            </li>

            <li class="nav-item d-md-down-none">
                <a href="#">
                    <i class="fa fa-envelope-open"></i>
                    <span class="badge badge-pill badge-danger"></span>
                </a>
            </li>

            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" href="#" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <img th:src="'http://localhost:8080/pics/upload/'+${stu.student_img}" class="avatar avatar-sm" alt="logo">
                    <span class="small ml-1 d-md-down-none"><label th:text="${session.stu.student_name}"></label></span>
                </a>

                <div class="dropdown-menu dropdown-menu-right">

                    <a href="#" class="dropdown-item">
                        <i class="fa fa-wrench"></i> 设置
                    </a>

                    <a href="#" class="dropdown-item">
                        <i class="fa fa-lock"></i> 退出
                    </a>
                </div>
            </li>
        </ul>
    </nav>

    <div class="main-container">
        <div class="sidebar">
            <nav class="sidebar-nav">
                <ul class="nav">
                    <li class="nav-title">导航</li>

                    <li class="nav-item">
                        <a href="/usr/homepage" class="nav-link">
                            <i class="icon icon-speedometer"></i> 首页
                        </a>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-target"></i> 寻找一个团队 <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="/usr/project_info" class="nav-link">
                                    <i class="icon icon-grid"></i> 浏览项目列表
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/usr/team_info" class="nav-link">
                                    <i class="icon icon-grid"></i> 浏览小组列表
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-diamond"></i> 我的实训 <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="/usr/my_project" class="nav-link">
                                    <i class="icon icon-puzzle"></i> 我的项目/小组
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/usr/my_grade" class="nav-link">
                                    <i class="icon icon-puzzle"></i> 我的成绩
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-notebook"></i> 我的日志/周志 <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="/usr/report" class="nav-link">
                                    <i class="icon icon-notebook"></i> 过往日志/周志
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/usr/report_new" class="nav-link">
                                    <i class="icon icon-note"></i> 提交日志
                                </a>
                            </li>
                        </ul>
                    </li>

                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-support"></i> 账户管理 <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">
                            <li class="nav-item">
                                <a href="/usr/manage_userdata" class="nav-link active">
                                    <i class="icon icon-note"></i> 个人资料
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/usr/manage_password" class="nav-link">
                                    <i class="icon icon-note"></i> 修改密码
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="/usr/manage_logout" class="nav-link">
                                    <i class="icon icon-home"></i> 注销
                                </a>
                            </li>
                        </ul>
                    </li>


                    <li class="nav-title">More</li>

                    <li class="nav-item nav-dropdown">
                        <a href="#" class="nav-link nav-dropdown-toggle">
                            <i class="icon icon-umbrella"></i> Pages <i class="fa fa-caret-left"></i>
                        </a>

                        <ul class="nav-dropdown-items">

                            <li class="nav-item">
                                <a href="login" class="nav-link">
                                    <i class="icon icon-umbrella"></i> Login
                                </a>
                            </li>

                            <li class="nav-item">
                                <a href="register" class="nav-link">
                                    <i class="icon icon-umbrella"></i> Register
                                </a>
                            </li>

                        </ul>
                    </li>
                </ul>
            </nav>
        </div>

        <div class="content">
            <div class="panel panel-info" style="margin-left: 20%;margin-right: 20%">
                <div class="panel-heading">
                    我的信息
                </div>
                <div class="panel-body">
                    <form enctype="multipart/form-data" action="/usr/manage_userdata" method="post" class="form-horizontal">

                        <div class="form-group">
                            <label class="col-sm-4 control-label">学号：</label>
                            <div class="col-sm-5">
                                <input type="number" name="student_id" th:value="${stu.student_id}" class="form-control" readonly><br/></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">姓名：</label>
                            <div class="col-sm-5">
                                <input type="text" name="student_name" th:value="${stu.student_name}" class="form-control"><br/></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">用户名：</label>
                            <div class="col-sm-5">
                                <input type="text" name="student_username" th:value="${stu.student_username}" class="form-control" readonly><br/></div>
                        </div>
                                <input type="hidden" name="password" th:value="${stu.password}" class="form-control">
                        <div class="form-group"></label>
                            <label class="col-sm-4 control-label">性别：</label>
                            <div class="col-sm-5">
                                <label class="radio-inline">
                                    <input type="radio" name="sex" id="inlineRadio1" th:checked="${stu.sex}==true?1:0" value="1" readonly> 男
                                </label>
                                <label class="radio-inline">
                                    <input type="radio" name="sex" id="inlineRadio2" th:checked="${stu.sex}==false?1:0" value="0" readonly> 女
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">学院：</label>
                            <div class="col-sm-5">
                                <!--input type="text" name="college" th:value="${stu.college}" class="form-control"-->
                                <select name="college" class="form-control" style="padding: 0%">
                                    <option value="计算机学院" th:field="${stu.college}">计算机学院</option>
                                    <option value="国家网络安全学院" th:field="${stu.college}">国家网络安全学院</option>
                                    <option value="数学与统计学院" th:field="${stu.college}">数学与统计学院</option>
                                    <option value="物理学院" th:field="${stu.college}">物理学院</option>
                                    <option value="化学学院" th:field="${stu.college}">化学学院</option>
                                    <option value="生物学院" th:field="${stu.college}">生物学院</option>
                                    <option value="外语学院" th:field="${stu.college}">外语学院</option>
                                    <option value="文学院" th:field="${stu.college}">文学院</option>
                                    <option value="经济与管理学院" th:field="${stu.college}">经济与管理学院</option>
                                    <option value="其他学院" th:field="${stu.college}">其他学院</option>
                                </select><br />

                                <br/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">班级：</label>
                            <div class="col-sm-5">
                                <input type="text" name="student_class" th:value="${stu.student_class}" class="form-control"><br/></div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">邮箱：</label>
                            <div class="col-sm-5">
                                <input type="email" name="student_email" th:value="${stu.student_email}" class="form-control" id="exampleInputEmail1"><br/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">电话：</label>
                            <div class="col-sm-5">
                                <input type="number" name="student_phone" th:value="${stu.student_phone}" class="form-control"><br/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">家庭住址：</label>
                            <div class="col-sm-5">
                                <input type="text" name="student_address" th:value="${stu.student_address}" class="form-control"><br/>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">个性签名：</label>
                            <div class="col-sm-5">
                                <input type="text" name="student_note" th:value="${stu.student_note}" class="form-control"><br/>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-sm-12">
                                <img id="imgshow" width="25%" th:src="'http://localhost:8080/pics/upload/'+${stu.student_img}"  class="center-block">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label">上传头像：</label>
                            <div class="col-sm-5">
                                <input type="file" id="upfile" name="file" class="form-control">
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-sm-4 control-label"></label>
                            <div class="col-sm-5">
                                <input type="submit" value="保存信息" class="btn btn-info">
                            </div>
                        </div>
                    </form>
                </div>
            </div>





        </div>
    </div>
</div>
<script src="/vendor/jquery/jquery.min.js"></script>
<script src="/vendor/popper.js/popper.min.js"></script>
<script src="/vendor/bootstrap/js/bootstrap.min.js"></script>
<script src="/vendor/chart.js/chart.min.js"></script>
<script src="/js/carbon.js"></script>
<script src="/js/demo.js"></script>
</body>
</html>
<script>

    $('#upfile').change(function () {
        //获取input file的files文件数组;
        //这边默认只能选一个，但是存放形式仍然是数组，所以取第一个元素使用[0];
        var file = $('#upfile').get(0).files[0];
        //创建用来读取此文件的对象
        var reader = new FileReader();
        //使用该对象读取file文件
        reader.readAsDataURL(file);
        //读取文件成功后执行的方法函数
        reader.onload = function (e) {
            //读取成功后返回的一个参数e，整个的一个进度事件
            console.log(e);
            //选择所要显示图片的img，要赋值给img的src就是e中target下result里面
            //的base64编码格式的地址
            $('#imgshow').get(0).src = e.target.result;
        }
    })
</script>